@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
*{
	margin:0;
	padding:0;
	font-family: 'Montserrat', sans-serif;
}

body{
	background:#eee;
}

.menu-itens{
	display:none;
	background:rgba(0,0,0,0.7);
	position:fixed;
	width:100%;
	height:100vh;
}

.button{
	width:96%;
	color:#fff;
	font-size:15px;
	background:#14D38C;
	border-bottom:3px solid #17B566;
	border-right:3px solid #17B566;
	font-weight:bold;
}

.btnclose{
	font-size:30px;
	float:right;
	margin-right:20px;
}

#error,
#sucess{
	font-size:14px;
	text-transform:uppercase;
	font-weight:bold;
	margin-top:6px;
}

#error{
	color:#DD2323;
}

#sucess{
	color:#1CB88C;
}

.button{
	width:96%;
	color:#fff;
	font-size:15px;
	border:none;
	background:#14D38C;
	border-bottom:3px solid #17B566;
	border-right:3px solid #17B566;
	font-weight:bold;
}

.line{
	height:2px;
	width:100%;
	background:#E6E6E6;
}

.itens{
	overflow:hidden;
}

.shop #text{
	text-align:center;
	font-size:5px;
	text-transform:uppercase;
	font-weight:bold;
	color:#14D38C;
	padding:10px;
}

.text{
	margin:0 auto 0 auto;
	font-size:27px;
	text-transform:uppercase;
	font-weight:bold;
	color:#2e2e2e;
	padding:10px;
}

.menu{
	background:#2e2e2e;
	padding:35px;
	overflow:hidden;
	border-bottom:1px solid #D9D9D9;
}

.menu .info{
	float:left;
}

.menu .logo{
	font-size:25px;
	color:#fff;
	text-transform:uppercase;
	font-weight:bold;
}

.menu .playing{
	font-size:17px;
	color:#fff;
	text-transform:uppercase;
	font-weight:bold;
}

.menu .btns{
	float:right;
}

.menu .btn{
	padding:10px;
	color:#fff;
	font-size:30px;
}

.post{
	float:left;
	margin-left:9%;
	width:400px;
	background:#fff;
	padding:20px;
	overflow:hidden;
	margin-bottom:20px;
}

.post #title{
	float:left;
	margin-left:10px;
	font-size:25px;
	font-weight:bold;
}

.post #text{
 margin-top:15px;
	display:block;
	font-size:16px;
	text-align:left;
}

.post #text a{
	display:block;
	margin-top:5px;
	text-decoration:none;
	color:#D50D63;
	font-weight:bold;
}

.post img{
	width:100%;
	padding-top:20px;
	border:1 px solid #F1F1F1;
}

.post #post-by{
	width:50px;
	padding-right:15px;
	padding-bottom:15px;
	font-weight:bold;
	font-size:13px;
	float:left;
}

.post #post-by img{
	width:100%;
}

.comprovante{
	margin:15px;
	width:250px;
	float:right;
	margin-right:10%;
}

.comprovante #desc{
	font-size:12px;
	text-transform:uppercase;
	font-weight:bold;
	color:#E88D00;
}

.comprovante input[type="submit"]{
	width:96%;
	color:#fff;
	font-size:15px;
	background:#14D38C;
	border-bottom:3px solid #17B566;
	border-right:3px solid #17B566;
	font-weight:bold;
}

.comprovante input{
	width:90%;
	padding:15px;
	background:#eee;
	border:none;
	margin-bottom:5px;
}

.comprovante input::placeholder{
	font-size:15px;
}

.footer{
	background:#2e2e2e;
	padding:10px;
	height:200px;
}

.footer span{
	text-align:left;
	color:#fff;
	font-weight:bold;
}

.footer i{
	display:inline-block;
}

.footer #tw{
	background:#0DB4F0;
	color:#fff;
	padding:12px;
	font-size:18px;
}

.footer #yt{
	background:#EC3D3D;
	color:#fff;
	padding:12px;
	font-size:18px;
}

.footer #logo{
	font-size:25px;
	font-weight:bold;
	color:#16D094;
}

.produtos{
	width:250px;
	float:none;
	display:inline-block;
}

.produtos .produto{
	overflow:hidden;
	padding-top:5px;
	padding-bottom:15px;
	border-bottom:1px solid #E0E0E0;
	display:block;
	margin-top:10px;
}

.produtos .produto #title{
	font-size:18px;
	float:left;
	margin-left:10px;
	text-align:left;
}

.produtos .produto #title #small-text{
	color:#14D38C;
	font-size:14px;
}

.produtos .button{
	float:right;
	margin-right:10px;
	width:50px;
	height:50px;
}

@media only screen and (max-width: 500px){
	.shop{
		margin-top:20px;
		margin-bottom:20px;
	}
	.shop .produtos{
		width:75%;
		margin-bottom:0;
	}
	.comprovante{
		float:none;
		margin-right:0;	
		width:82%;	
	}
	.post{
		float:none;
		margin-left:0;	
		width:82%;
	}
}
